<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Jacob Evans" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Crypto Chat Node</title>
    <%- include("partials/head-add.ejs"); %>
  </head>
  <body>
    <%- include("partials/nav.ejs"); %>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h1>About</h1>
        </div>
      </div>
    </div>
    <%- include("partials/body-add.ejs"); %>
  </body>
</html>